.card__list {
	display: flex;
	flex-wrap: wrap;
	gap: 20px;
}

.card__item {
	width: calc((100% - 20px * 3) / 4);
}

.card__content {
	gap: 20px;
	background: rgba(235, 234, 233, 0.828);
	border-radius: 10px;
	padding: 20px 20px 20px 20px;
}
