@media screen and (max-width: 1366px) {
	.card__list {
		gap: 10px;
	}

	.card__item {
		width: calc((100% - 10px * 2) / 3);
	}
}

@media screen and (max-width: 992px) {
	.card__list {
		overflow-x: auto;
		flex-wrap: nowrap;
	}
	/* .card__item {
		width: calc((100% - 10px) / 2);
	} */
}

/* MEDIA 768px */
/* @media screen and (max-width: 768px) {
	.card__item {
		width: calc((100% - 10px) / 2);
	}
}
/* MEDIA 576px */
@media screen and (max-width: 576px) {
	.card__item {
		width: 100%;
	}
}
