.nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

@media screen and (max-width: 576px) {
	.links__content {
		display: none;
	}
	.nav {
		justify-content: center;
	}

	.log_img {
		max-width: 90px;
		min-height: 90px;
		border-radius: 20px;
	}

	.log__text {
		font-weight: 800;
		font-size: 30px;
	}
}
