.admin_form {
	display: flex;
	gap: 10px;
}
.admin_input {
	background: rgb(221, 221, 221);
	border-radius: 20px;
	padding: 14px;
}

.submit_btn {
	background-color: orange;
	padding: 10px;
	border-radius: 20px;
}
