@media screen and (max-width: 1366px) {
	.mySwiper {
		width: 85%;
	}
}

@media screen and (max-width: 992px) {
	.swiper-button-next {
		padding: 0px;
		border-radius: 10px;
		font-size: 15px;
	}

	.swiper-button-next::after {
		padding: 0px;
		border-radius: 0px;
		font-size: 15px;
	}

	.swiper-button-prev {
		padding: 0px;
		border-radius: 10px;
		font-size: 15px;
	}

	.swiper-button-prev::after {
		padding: 0px;
		border-radius: 0px;
		font-size: 15px;
	}

	.slider_buy-btn {
		content: "";
		position: absolute;
		font-size: 20px;
		bottom: 5%;
		left: 43%;
		color: var(--text-black);
		padding: 5px 60px 5px 60px;
		border-radius: 10px;
		background-color: var(--text-orange);
		text-align: center;
	}
}

@media screen and (max-width: 768px) {
	.swiper-button-next {
		padding: 0px;
		border-radius: 10px;
		font-size: 10px;
	}

	.swiper-button-next::after {
		padding: 0px;
		border-radius: 0px;
		font-size: 10px;
	}

	.swiper-button-prev {
		padding: 0px;
		border-radius: 10px;
		font-size: 10px;
	}

	.swiper-button-prev::after {
		padding: 0px;
		border-radius: 0px;
		font-size: 10px;
	}

	.slider_buy-btn {
		font-size: 16px;
		bottom: 5%;
		left: 33%;
		color: var(--text-black);
		padding: 5px 30px 5px 30px;
		border-radius: 10px;
		background-color: var(--text-orange);
		text-align: center;
	}
}
