.slider_img {
	border-radius: 15px;
	max-width: 1000px;
	width: 100%;
	max-height: 450px;
	margin: 0 auto;
	position: relative;
}
.mySwiper {
	width: 80%;
	min-height: 200px;
}

.swiper-button-prev,
.swiper-button-next {
	color: rgba(9, 9, 9, 0.509);
	background-color: rgba(220, 220, 220, 0.789);
	padding: 25px;
	border-radius: 10px;
}

.swiper-button-prev:hover {
	color: rgb(0, 0, 0);
	background-color: rgba(247, 247, 246, 0.437);
}

.swiper-button-next:hover {
	color: rgb(0, 0, 0);
	background-color: rgba(247, 247, 246, 0.437);
}
/* .swiper-slide:hover {
	text-align: center;
	font-size: 18px;
	display: flex;
	justify-content: center;
	border-radius: 30px;
	align-items: center;
	background: red;
} */

.slider_buy-content {
	position: relative;
}

.slider_buy-btn {
	content: "";
	position: absolute;
	font-size: 20px;
	bottom: 5%;
	left: 33%;
	color: var(--text-black);
	padding: 5px 60px 5px 60px;
	border-radius: 10px;
	background-color: var(--text-orange);
	text-align: center;
}
